@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,900&display=swap');

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:2rem;
  flex-direction: column;
}
.img{
  width:200px;
  height: 100px;
}

.title{
  margin: 1rem 0;
  color:#fff;
  font-family: 'Montserrat';
  font-weight: 400;
  
}

.spanEl{
  color:red;
}


@media screen and (max-width:677px){
  .header{
    flex-direction: column;
  }
  .title{
    margin:1rem 0 1.5rem ;
    font-size:2rem;
  }
}