.info{
  background: #fff;
  color:red;
  font-size: 1rem;
  font-weight: 500;
  width: 30%;
  padding: 5px;
  border-radius: 20px;
  animation: anim-item 0.8s linear 0.1s both;
}

.wrapper{
  text-align: center;
  display: flex;
  justify-content: center;
}


@keyframes anim-item {
  0%{
    opacity:0;
    
  }
  100%{
    opacity: 1;
    
  }
}